.progress {
	position: relative;
	height: 2rem;
}

.progress span {
	position: absolute;
	display: block;
	width: 100%;
	font-size: medium;
}

.center_top {
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%);
}

.center_bottom {
	position: fixed;
	transform: translate(-50%);
    left: 50%;
    bottom: 5%;
}